body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:513px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:364px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:46px;
  width:431px;
  height:364px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:174px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:69px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:137px;
  width:333px;
  height:39px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:39px;
  font-family:'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:199px;
  width:333px;
  height:39px;
}
#u88_input {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:39px;
  font-family:'Axure Handwriting Regular', 'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:275px;
  width:333px;
  height:46px;
  font-size:18px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:329px;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:338px;
  width:73px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
